#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aquamarine;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cardDiv{
  flex-wrap: wrap;
  width : 10rem;
  height:10rem;
  border: 1px solid black ;
  border-radius:10px;
  background-color: white;
  margin-top:10px;
}
 .cardImage{
  width : 100%;
  border-radius:10px;
  object-fit:cover;
}
.cardDiv h4{
  color:black;
  margin:0;
  padding:0;
}
.cardsMainDiv{
  display:flex;
  flex-direction: rwo;
  gap:10px;
  flex-wrap:wrap;
}
.VueDiv{
  background-color: azure;
  height: 16rem;
  width: 12rem;
  box-shadow: darkgreen;
  border:1px solid black;
  color:black;
  font-size: 16px;
  border-radius:5px;
  text-align: center;
  margin-top:1rem;
}

.reactDiv{
  background-color: azure;
  height:16rem;
  width:12rem;
  border:1px solid black;
  color:black;
  font-size: 16px;
  border-radius:5px;
  text-align: center;
}

.reactDiv > button {
  margin-bottom:16px;

}

.cartItem{
display:flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
}